/* Style the navigation bar */
body {
    background-color: #fafafa;
}
.navbar {
    width: 100%;
    position: fixed;
    background-color:#fafafa ;
    top: 2;
  }

  .lista {
     margin-left: 400px;
     margin-top: -10px;
  }
  
  /* Navbar links */
  .navbar a {
    font-family: 'Nunito', sans-serif;
    float: left;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    text-decoration:underline;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #FFE55E;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 600px) {
    .navbar {
        background-color: #124C5F;
    }
    .navbar a {
        text-align: center;
        float: none;
        display: block;
        color: #FFFFFF;
    
      
    }

    a:hover{
        color: #FFE55E;
        transform: translateY(-5px) scale(0.95);
    }

    .lista {
        float: none;
        display: block;
        margin-left:1px;
        margin-top: -10px;
     }

    .active {
        background-color: #124C5F;

    }

  }

  /* buttons */

  button {
    width: 100px;
    height: 40px;
    margin-top: -7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 38px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #124C5F;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.15s linear;
    margin-top: 2px;
   }
   
   button:hover {
    background-color: rgba(29, 201, 160, 0.08);
    border-color: #124C5F;
    color: #124C5F;
    transform: translateY(-5px) scale(1.05);
   }
   
   button:active {
    background-color: transparent;
    border-color: #124C5F;
    color: #124C5F;
    transform: translateY(5px) scale(0.95);
   }
   
   button:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8E8E93;
    border-color: #8E8E93;
   }

   /* HOME and Image */

   .background-image {
    height: 100%;
    width: 100%;
    background-repeat: space;
    background-image: url("/background.png");
    position: relative;
    margin-right: 50px;
    
  }

  .home {
      width: 550px;
      height: 550px;
      margin-left: 70px;
      margin-top: 90px;
   
  }

  h1 {
    text-decoration: underline #124C5F;
    font-family: 'Amatic SC', cursive;
    font-size: 55px;
  }

  .descripcion{
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      padding-bottom: 20px;
      color: #8E8E93;
  }

  .imagen-home {
      margin-top: 100px;
      float: right;
  }

  .img-home {
    width: 400px;
    display: block;
    float: right;
    margin-top: -270px;
    margin-right: 300px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 50%;
}

@media screen and (max-width: 600px) {
    .home {
      float: none;
      display: block;
      margin-right: 450px;


    }

    .img-home{
        display: flex;
        align-items: center;
        float:left;
        margin-left: 30px;
        margin-top: 5px;
        margin-bottom: 20px;
    
        
        
       
    }

    .descripcion {
        text-align: center;
        margin-right: 200px;
    }

    button:hover {
        background-color: #FFE55E;
        border-color: #124C5F;
        color: #124C5F;
        transform: translateY(-5px) scale(1.05);
    
    }


  }

  

/* CARD SERVICIOS */

.titulo-servicios {
    text-decoration: underline #124C5F;
    margin-top: -100px;
    margin-left: 70px;
    font-family: 'Amatic SC', cursive;
    font-size: 55px;
}

.contenedor-servicios > div {
    padding: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.contenedor-servicios {

    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 5px;
}
  
.tarjeta1 {
    margin: 30px;
    width: 200px;
    height: 220px;
    border: 0.5px solid #98F2E1;
    border-radius: 10%;
    padding: 5px;
    background: linear-gradient(#98F2E1, #FFFFFF, #FFFFFF);
}

.tarjeta2 {
    margin: 30px;
    width: 200px;
    height: 220px;
    border: 0.5px solid #FFE55E;
    border-radius: 10%;
    padding: 5px;
    background: linear-gradient(#FFE55E ,#FFFFFF, #FFFFFF);
}

.servicio {
    color: #124C5F;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin-top: 100px;

}

@media screen and (max-width: 700px) {
    .contenedor-servicios > div {
       
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .contenedor-servicios { 
        margin: 100px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 4px;
    }

    .titulo-servicios{
        float: none;
        display: block;
        text-align: center;
        margin-right: 60px;
        margin-top: 20px;
    }
      
}

/* PRODUCTOS */

.titulo-productos {
    text-decoration: underline #124C5F;
    margin-left: 70px;
    font-family: 'Amatic SC', cursive;
    font-size: 55px;
}

.oferta {
    margin-left: 70px;
    font-family: 'Amatic SC', cursive;
    font-size: 55px;
}

/* From uiverse.io by @alexmaracinaru */

.card-productos-grid{
    margin-left: 12%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 5px;
}
.card {
    width: 400px;
    height: 600px;
    background: #fafafa;
    font-family: 'Nunito', sans-serif;

}

.card span {
    font-weight: 600;
    color: black;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 20px;
}
   


.imagen1 {
    margin-left: 75px;
    width: 250px;
    height: 400px;
}
.imagen {
    width: 380px;
    height: 400px;

}

.card button {
    padding: 10px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #124C5F;
    color: #FFFFFF;
    font-weight: 600;
    border: 1px solid #124C5F;
}
   
.card button:hover {
    background: #FFFFFF;
    color: #124C5F;
}

.card .job {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #8E8E93;
}

@media screen and (max-width: 700px) {
    .card> div {
       
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .card-productos-grid { 
        margin-left: 50px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 4px;
    }

    .imagen1{
        margin-left: 10px;
    }

    .card button:hover {
        background: #FFE55E;
        color: #124C5F;
    }
      
}

/* OPINIONES */


.container {
    height: 100vh;
    display:inline-flex;
    align-items:center;
    padding: 90px;
    margin-left: 100px;
}

.opiniones {
    width: 300px;
    height: 350px;
    background-color: #EBA8BF;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.opiniones1 {
    width: 300px;
    height: 350px;
    background-color: #EBA8BF;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.opiniones2 {
    width: 300px;
    height: 350px;
    background-color: #FFF1A6;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.opiniones3 {
    width: 300px;
    height: 350px;
    background-color: #DDC7ED;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.card__img1 {
    margin-top: 90px;
    margin-left: 20px;
    position: absolute;
    width: 290px;
    height: 300px;
    filter: drop-shadow(5px 10px 15px rgba(8,9,13,2));
    transform: translate(.2rem, -8.5rem);
}

.card__img2 {
    margin-top: 90px;
    margin-left: 10px;
    position: absolute;
    width: 290px;
    height: 290px;
    filter: drop-shadow(5px 10px 15px rgba(8,9,13,2));
    transform: translate(.2rem, -8.5rem);
}
.card__img3 {
    margin-top: 90px;
    margin-left: 25px;
    position: absolute;
    width: 260px;
    height: 280px;
    filter: drop-shadow(5px 10px 15px rgba(8,9,13,2));
    transform: translate(.2rem, -8.5rem);
}



.card__title {
    text-align: center;
    margin: 70px;
    font-size: 1.2rem;
    color: #DDCA69;
    margin-bottom: 0.5rem;
    padding-top: 10px;
    font-family: 'Nunito', sans-serif;
}

.card__data {
    width: 300px;
    height: 140px;
    margin-left: -77px;
    margin-top: 70%;
    background-color: #124C5F;
    transform: translate(4.8rem);
    
    
}

.card__description {
    color: #FFFFFF;
    font-size: 1rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;

}

.patitas1 {
    text-align: center;
    padding: 0 70px;
    font-size: 1rem;
    color: #DDCA69;
    font-family: 'Nunito', sans-serif;
}